* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Inter', sans-serif;
}
 
::-webkit-scrollbar {
 width: 7px;
}

::-webkit-scrollbar-thumb {
 background-color: rgb(167, 167, 167)
}

body {
 height: 100vh;
}

/* hero */

.main {
 background: url(images/homepage.png);
 background-size: cover;
}

.heading {
 display: flex;
}

.heading img {
 width: 150px;
 margin: 30px 0px 0px 210px;
 cursor: pointer;
 transition: 0.2s
}

.heading img:hover {
 transform: translateY(-10px);
}

.header {
 height: 100vh;
 display: flex;
 flex-direction: column;
}

.header .text {
 position: absolute;
 right: 15%;
 top: 50%;
 transform: translateY(-50%);
}

.header .title {
 color: #FAF7F0;
 font-size: 64px;
 font-weight: 800;
}

.header .sub-title {
 font-size: 20px;
 margin-top: 20px;
}

/* call to action */
.c2a {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #BCCEF8;
 padding: 50px;
 box-shadow: rgba(99, 99, 99, 0.5 ) 0px 2px 8px 0px;}

.c2a .container {
 display: flex;
 flex-direction: column;
}

.c2a-title {
 font-size: 38px;
 margin-bottom: 30px;
}

.container .btn {
 margin: auto;
 padding: 13px 10px;
 width: 45%;
 border-radius: 15px;
 border: none;
 font-weight: 700;
 background: #CDFCF6;
 cursor: pointer;
 transition: .3s;
 font-size: 16px;
}

.btn:hover {
 background: #a3fff3
}

/* why myshoe? */
.whymyshoe {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: #98A8F8;
 padding: 80px 20px;
 text-align: center;
}

.whymyshoe-container {
 display: flex;
 align-items: center;
}

.whymyshoe-container img {
 width: 400px;
 border-radius: 10px;
 margin: 0px 90px;
}

.whymyshoe span {
 color: #FAF7F0;
}

.whymyshoe-title {
 font-size: 38px;
 font-weight: 700;
 margin-bottom: 70px;
 }

 .stylish, .comfy {
  font-size: 24px;
  font-weight: 800;
  color: #FAF7F0;
  letter-spacing: 15px;
  margin: 15px 0 20px 0;
 }

.left-shoe p, .right-shoe p {
 font-weight: 400;
 font-size: 24px;
}

/* footer */
footer {
 background: #7BD1D0;
 display: flex;
}

.footer-container {
 display: flex;
 align-items: center;
 padding: 17px;
}

footer img {
 width: 150px;
 margin-right: 20px;
 transition: .2s
}

footer img:hover {
 transform: translateY(-10px);
}

footer p {
 font-size: 10px;
 font-weight: 300
}


/* MOBILE RESPONSIVE */
@media (max-width: 700px) {
 .heading img {
   margin: 30px 0px 0px 30px;
 }
  .header .text {
   display: flex;
   flex-direction: column;
   top: 25%;
  }
  .header .title {
   font-size: 34px;
  }
 
  .header .sub-title {
   font-size: 14px;
   margin-top: 5px;
  }
    .c2a-title {
     font-size: 28px;
    }
  
    .container .btn {
     padding: 15px 20px;
     width: 80%;
    }
        .whymyshoe {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background: #98A8F8;
         padding: 80px 20px;
         text-align: center;
        }
    
        .whymyshoe-container {
         display: flex;
         align-items: center;
         flex-direction: column;
        }
                .whymyshoe-container img {
                 width: 200px;
                 border-radius: 10px;
                 margin: 0px 90px;
                }
                                .whymyshoe-title {
                                 font-size: 28px;
                                }
                                                                .stylish,
                                                                .comfy {
                                                                 font-size: 16px;
                                                                 letter-spacing: 10px;
                                                                }

                                                                .left-shoe p,
                                                                .right-shoe p {
                                                                 font-weight: 400;
                                                                 font-size: 16px;
                                                                }
                                                                .left-shoe p {
                                                                  margin-bottom: 50px;
                                                                }
                                                                footer p {
                                                                 font-size: 8px;
                                                                }
                                                                footer img {
                                                                 width: 100px;
                                                                }
                                                              
                                                                
                                                                

}

